.btn {
  padding: 0.75rem 1.5rem;
  background: #374151;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn.active {
  background: #facc15;
  color: black;
}

.card {
  background: #1f2937;
  padding: 1.5rem;
  border-left: 4px solid #facc15;
  border-radius: 1rem;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.period {
  color: #facc15;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.badge {
  display: inline-block;
  background: #111827;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  margin-bottom: 1rem;
}

.desc {
  color: #d1d5db;
  line-height: 1.6;
}
